*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}

.calc{
    width: 400px;
    background-color: black;
    color: aliceblue;
}

.screen{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}
.calc-button:hover{
    background-color: rgb(172, 172, 172);
}
/* to make it look as ifpushed down! */
.calc-button:active{
    background-color: #bbbcbe;
}

.double {
    width : 49.7%;
}

.triple {
    width : 74.8%;
}

.calc-row{
    display  : flex;
    align-content :stretch;
    justify-content : space-around;
    margin-bottom: 0.5%;
}
.calc-button:last-child{
    background-color: rgb(247, 166, 17);
    color: white;
}

.calc-button:last-child:hover{
    background-color: rgb(238, 191, 105);
}