* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #53a073;
    color: #222;
}

.text {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.text .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.text .letter {
    display: inline-block;
    line-height: 1em;
}

