body {
  display:grid;
  justify-content:center;
  align-content:center;
  min-height:100vh;
}

.w {
  width:calc(50vmin * 2/3);
  height:50vmin;
  position:relative;
  overflow:hidden;
}

.p {
  background:center/cover no-repeat url(1.PNG);
  width:100%;
  height:100%;
  position:absolute;
}

.a {
  background-size:100% 100%;
  filter:hue-rotate(72deg);
}

.b {
  background-size:105% 105%;
  filter:hue-rotate(144deg);
}

.c {
  background-size:110% 110%;
  filter:hue-rotate(216deg);
}

.d {
  background-size:115% 115%;
  filter:hue-rotate(288deg);
}


@-webkit-keyframes a { 
  from {
    -webkit-clip-path:inset(0 80% 80% 0);
            clip-path:inset(0 80% 80% 0);
  }
  25% {
    -webkit-clip-path:inset(0 20% 80% 0);
            clip-path:inset(0 20% 80% 0);
  }
  50% {
    -webkit-clip-path:inset(0 20% 20% 0);
            clip-path:inset(0 20% 20% 0);
  }
  75% {
    -webkit-clip-path:inset(0 80% 20% 0);
            clip-path:inset(0 80% 20% 0);
  }
  to { 
    filter:hue-rotate(144deg)contrast(1.5);
    -webkit-clip-path:inset(0 80% 80% 0);
            clip-path:inset(0 80% 80% 0);
  } 
}


@keyframes a { 
  from {
    -webkit-clip-path:inset(0 80% 80% 0);
            clip-path:inset(0 80% 80% 0);
  }
  25% {
    -webkit-clip-path:inset(0 20% 80% 0);
            clip-path:inset(0 20% 80% 0);
  }
  50% {
    -webkit-clip-path:inset(0 20% 20% 0);
            clip-path:inset(0 20% 20% 0);
  }
  75% {
    -webkit-clip-path:inset(0 80% 20% 0);
            clip-path:inset(0 80% 20% 0);
  }
  to { 
    filter:hue-rotate(144deg)contrast(1.5);
    -webkit-clip-path:inset(0 80% 80% 0);
            clip-path:inset(0 80% 80% 0);
  } 
}

@-webkit-keyframes b { 
  from {
    -webkit-clip-path:inset(0 0 80% 20%);
            clip-path:inset(0 0 80% 20%);
  }
  25% {
    -webkit-clip-path:inset(0 0 80% 80%);
            clip-path:inset(0 0 80% 80%);
  }
  50% {
    -webkit-clip-path:inset(0 0 20% 80%);
            clip-path:inset(0 0 20% 80%);
  }
  75% {
    -webkit-clip-path:inset(0 0 20% 20%);
            clip-path:inset(0 0 20% 20%);
  }
  to { 
    filter:hue-rotate(216deg)contrast(1.5); 
    -webkit-clip-path:inset(0 0 80% 20%); 
            clip-path:inset(0 0 80% 20%);
  } 
}

@keyframes b { 
  from {
    -webkit-clip-path:inset(0 0 80% 20%);
            clip-path:inset(0 0 80% 20%);
  }
  25% {
    -webkit-clip-path:inset(0 0 80% 80%);
            clip-path:inset(0 0 80% 80%);
  }
  50% {
    -webkit-clip-path:inset(0 0 20% 80%);
            clip-path:inset(0 0 20% 80%);
  }
  75% {
    -webkit-clip-path:inset(0 0 20% 20%);
            clip-path:inset(0 0 20% 20%);
  }
  to { 
    filter:hue-rotate(216deg)contrast(1.5); 
    -webkit-clip-path:inset(0 0 80% 20%); 
            clip-path:inset(0 0 80% 20%);
  } 
}

@-webkit-keyframes c { 
  from {
    -webkit-clip-path:inset(20% 80% 0 0);
            clip-path:inset(20% 80% 0 0);
  }
  25% {
    -webkit-clip-path:inset(20% 20% 0 0);
            clip-path:inset(20% 20% 0 0);
  }
  50% {
    -webkit-clip-path:inset(80% 20% 0 0);
            clip-path:inset(80% 20% 0 0);
  }
  75% {
    -webkit-clip-path:inset(80% 80% 0 0);
            clip-path:inset(80% 80% 0 0);
  }
  to { 
    -webkit-clip-path:inset(20% 80% 0 0); 
            clip-path:inset(20% 80% 0 0);
    filter:hue-rotate(288deg)contrast(1.5);
  } 
}

@keyframes c { 
  from {
    -webkit-clip-path:inset(20% 80% 0 0);
            clip-path:inset(20% 80% 0 0);
  }
  25% {
    -webkit-clip-path:inset(20% 20% 0 0);
            clip-path:inset(20% 20% 0 0);
  }
  50% {
    -webkit-clip-path:inset(80% 20% 0 0);
            clip-path:inset(80% 20% 0 0);
  }
  75% {
    -webkit-clip-path:inset(80% 80% 0 0);
            clip-path:inset(80% 80% 0 0);
  }
  to { 
    -webkit-clip-path:inset(20% 80% 0 0); 
            clip-path:inset(20% 80% 0 0);
    filter:hue-rotate(288deg)contrast(1.5);
  } 
}

@-webkit-keyframes d { 
  from {
    -webkit-clip-path:inset(20% 0 0 20%);
            clip-path:inset(20% 0 0 20%);
  }
  25% {
    -webkit-clip-path:inset(20% 0 0 80%);
            clip-path:inset(20% 0 0 80%);
  }
  50% {
    -webkit-clip-path:inset(80% 0 0 80%);
            clip-path:inset(80% 0 0 80%);
  }
  75% {
    -webkit-clip-path:inset(80% 0 0 20%);
            clip-path:inset(80% 0 0 20%);
  }
  to { 
    -webkit-clip-path:inset(20% 0 0 20%); 
            clip-path:inset(20% 0 0 20%);
    filter:hue-rotate(72deg)contrast(1.5);
  } 
}

@keyframes d { 
  from {
    -webkit-clip-path:inset(20% 0 0 20%);
            clip-path:inset(20% 0 0 20%);
  }
  25% {
    -webkit-clip-path:inset(20% 0 0 80%);
            clip-path:inset(20% 0 0 80%);
  }
  50% {
    -webkit-clip-path:inset(80% 0 0 80%);
            clip-path:inset(80% 0 0 80%);
  }
  75% {
    -webkit-clip-path:inset(80% 0 0 20%);
            clip-path:inset(80% 0 0 20%);
  }
  to { 
    -webkit-clip-path:inset(20% 0 0 20%); 
            clip-path:inset(20% 0 0 20%);
    filter:hue-rotate(72deg)contrast(1.5);
  } 
}

.a {-webkit-animation:a 3s infinite;animation:a 3s infinite;}
.b {-webkit-animation:b 3s infinite;animation:b 3s infinite;}
.c {-webkit-animation:c 3s infinite;animation:c 3s infinite;}
.d {-webkit-animation:d 3s infinite;animation:d 3s infinite;}