@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#272D3B;
  --red:#ED176F;
  --coral:#F7817F;
  --gradient:linear-gradient(90deg, var(--red), var(--coral));
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section{
  padding:3rem 9%;
}

.btn{
  display: inline-block;
  padding:.7rem 3rem;
  margin-top: 1rem;
  border-radius: 5rem;
  background:var(--gradient);
  color:#fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  transform: scale(1.1);
}

.heading{
  text-align: center;
  color:transparent;
  background:var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 5rem;
  text-transform: uppercase;
  padding:1rem;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  background:var(--black);
  z-index: 1000;
  padding:2rem 9%;
  border-bottom: .1rem solid #fff3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  font-weight: bolder;
  color:#fff;
  font-size: 2.5rem;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2.5rem;
  color:#fff;
}

header .navbar a:hover{
  color:var(--red);
}

#menu-bar{
  font-size: 3rem;
  color:#fff;
  cursor: pointer;
  display: none;
}

.home{
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
}

.home .content{
  padding-top: 5rem;
  max-width:70rem;
  margin:0 auto;
}

.home .content h3{
  font-size: 6.5rem;
  color:#fff;
}

.home .content p{
  font-size: 1.7rem;
  color:#eee;
  padding:1rem 0;
}

.home .swiper-container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home .swiper-slide {
  width: 30rem;
  height: 50rem;
}

.home .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box{
  margin:1rem;
  border-radius: .5rem;
  text-align: center;
  background:rgba(237, 23, 111,.05);
  padding:1rem;
  flex:1 1 30rem;
  cursor: pointer;
}

.features .box-container .box i{
  color:var(--red);
  font-size: 5rem;
  padding:1rem;
}

.features .box-container .box h3{
  color:var(--black);
  font-size: 2.4rem;
}

.features .box-container .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem;
}

.features .box-container .box:hover{
  background:var(--gradient);
}

.features .box-container .box:hover > *{
  color:#fff;
}

.about .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .image{
  flex:1 1 40rem;
}

.about .row .image img{
  width:100%;
}

.about .row .content{
  flex:1 1 40rem;
}

.about .row .content h3{
  color:var(--black);
  font-size: 3.5rem;
}

.about .row .content p{
  color:#666;
  font-size: 1.7rem;
  padding:1rem 0;
}

.about .row .content .buttons{
  display: flex;
  flex-wrap: wrap;
}

.about .row .content .buttons a:hover{
  opacity: .7;
}

.about .row .content .buttons a:last-child{
  margin-left: 2rem;
}

.usage .row{
  display: flex;
  align-items: center;
}

.usage .row .divider{
  padding:0 1rem;
}

.usage .row .box-container .box{
  padding:1rem 0;
}

.usage .row .box-container .box i{
  color:var(--red);
  padding:1rem 0;
  font-size: 4.5rem;
}

.usage .row .box-container .box h3{
  color:var(--black);
  font-size: 2.5rem;
}

.usage .row .box-container .box p{
  color:#666;
  padding:1rem 0;
  font-size: 1.5rem;
}

.usage .row .box-container:first-child{
  text-align: right;
}

.review .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review .box-container .box{
  text-align: center;
  margin:1rem;
  padding:2rem;
  flex:1 1 33rem;
  border:.1rem solid rgba(0,0,0,.3);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.review .box-container .box img{
  height:13rem;
  width:13rem;
  padding:1rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
}

.review .box-container .box p{
  font-size: 1.4rem;
  color:#666;
  padding:1rem 0;
}

.review .box-container .box .stars i{
  padding:1rem .1rem;
  font-size: 2rem;
  color:var(--red);
}

.pricing .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing .box-container .box{
  flex:1 1 33rem;
  text-align: center;
  margin:1rem;
  padding:2rem 0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
}

.pricing .box-container .box .price{
  font-size: 5rem;
  color:var(--black);
  font-weight: bolder;
}

.pricing .box-container .box .price span{
  font-size: 2rem;
  font-weight: normal;
}

.pricing .box-container .box h3{
  color:#fff;
  background:var(--gradient);
  font-size: 3rem;
  padding:1.5rem 0;
  margin:1rem 0;
}

.pricing .box-container .box ul{
  list-style: none;
  padding:2rem 0;
  border-bottom: .1rem solid var(--red);
}

.pricing .box-container .box ul li{
  padding:.7rem 0;
  font-size: 1.7rem;
  color:#666;
}

.pricing .box-container .box .btn{
  margin-top: 2rem;
}

.contact{
  background:linear-gradient(#fff 50%, var(--black) 50.1%);
}

.contact form{
  padding:2rem;
  background:#fff;
  box-shadow: 0 .5rem 3rem rgba(0,0,0,.1);
}

.contact form .inputBox{
  position: relative;
}

.contact form .inputBox input, .contact form .inputBox textarea{
  width:100%;
  margin:1.5rem 0;
  padding:1rem 0;
  border-bottom: .2rem solid rgba(0,0,0,.3);
  font-size: 1.7rem;
  text-transform: none;
}

.contact form .inputBox textarea{
  resize: none;
  height: 15rem;
}

.contact form .inputBox input:focus,
.contact form .inputBox textarea:focus{
  border-color: var(--red);
}

.contact form .inputBox label{
  font-size: 1.7rem;
  position: absolute;
  top:2.3rem; left: 0;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:valid ~ label{
  top:-.4rem;
  font-size: 1.5rem;
  color:var(--red);
}

.footer{
  text-align: center;
  background:var(--black);
}

.footer .share a{
  height: 4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  background:#eee;
  color:var(--black);
  border-radius: 50%;
  font-size: 2rem;
  margin:.3rem;
}

.footer .share a:hover{
  color:#fff;
  background:var(--gradient);
}

.footer .credit{
  color:#eee;
  padding:2.5rem 1rem;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--red);
}




















/* media queries */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

  .usage .row{
    flex-flow: column;
  }

  .usage .row .divider{
    display: none;
  }

  .usage .row .box-container .box{
    text-align: center;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background:var(--black);
    border-top: .1rem  solid #fff3;
    padding:1rem 2rem;
    clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle{
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    margin:1.5rem 0;
    padding:1rem;
    background:var(--gradient);
    text-align: center;
    border-radius: .5rem;
  }

  header .navbar a:hover{
    color:var(--black);
  }

  .fa-times{
    transform: rotate(180deg);
  }

  .home .content h3{
    font-size: 4rem;
  }

  .home .content p{
    font-size: 1.5rem;
  }

  .about .row .content{
    text-align: center;
  }

  .about .row .content .buttons a{
    width:100%;
  }

  .about .row .content .buttons a:last-child{
    margin:1rem 0;
  }

}

@media (max-width:400px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3.5rem;
  }

}