@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.card{
  position: relative;
  background: #fff;
  max-width: 325px;
  width: 325px;
  height: auto;
  margin: 25px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  border-radius: 10px;
  overflow: hidden;
}

.card-image{
  max-height: 200px;
}

.card-image img{
  max-width: 100%;
  height: auto;
}

.card-info{
  position: relative;
  color: #222;
  padding: 10px 20px 20px;
}

.card-info h3{
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 5px;
}

.card-info p{
  font-size: 1em;
  margin-bottom: 5px;
}

.pagination{
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page, .next-page{
  background: #0AB1CE;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover{
  transform: translateX(-5px);
}

.next-page:hover{
  transform: translateX(5px);
}

.current-page, .dots{
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active{
  background: #0AB1CE;
}

.disable{
  background: #ccc;
}
      