@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /*
	background: #eda1e5;
	*/
}

figure.container {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 720px;
    max-width: 310px;
    max-height: 400px;
    width: 100%;
    background: #000;
    text-align: left;
}

figure.container * {
    box-sizing: border-box;
}

figure.container img {
    max-width: 100%;
    opacity: 1;
    width: 100%;
    transition: opacity 0.35s;
}

figure.container figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 3em;
    width: 100%;
    height: 100%;
}

figure.container figcaption::before {
    content: '';
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-left: 4px solid rgba(255,255,255,0.8);
    opacity: 0;
    background: rgba(255,255,255,0.5);
    transition: all 0.5s;
    transition-delay: 0.6s;
}

figure.container h2,
figure.container p {
    margin: 0 0 5px;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

figure.container h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    transform: translate3d(30%, 0, 0);
    transition-delay: 0.3s;
}

figure.container h2 span {
    font-weight: 800;
}

figure.container p {
    font-weight: 200;
    transform: translate3d(0, 30%, 0);
    transition-delay: 0s;
}

figure.container a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #fff;
}

figure.container:hover img {
    opacity: 0.3;
}

figure.container:hover figcaption h2 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.4s;
}

figure.container:hover figcaption p {
    opacity: 0.9;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.6s;
}

figure.container:hover figcaption::before {
    background: rgba(255,255,255,0);
    left: 30px;
    opacity: 1;
    transition-delay: 0s;
}

